.md-container .md-content .md-typeset h1 {
  padding-bottom: 6px;
  font-size: 2.2em;
  font-weight: bold;
  color: #444444;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg,#595555,#dc5253 60%,#e47740 75%,#f5cd62 90%);
  border-image-slice: 1;
}

.md-typeset h2 {
  margin: 2em 0 .64em;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.5;
}

.md-typeset p {
  line-height: 36px;
}
